@media screen and (max-width: 980) {
  
}

@media screen and (max-width: 768) {
  
}

@media screen and (max-width: 640) {
  /* #form {
    text-align: center;
    display: block;
  }
  #gif-form {
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  } */
}

.animal {
  text-align: center;
  margin-bottom: 5%;
}

form {
  margin-left: 10%;
}