body {
  /* https://cssgradient.io/ */
  background: rgb(82,116,56);
  background: radial-gradient(circle, rgba(82,116,56,0.9895308465182948) 22%, rgba(215,133,38,1) 100%);
}

#myHeader {
  z-index: 100;
  background-color: #527438;
  position: fixed;
  width: 100%;
}

#wiki-container {
  position: absolute;
  margin-left: 50%;
  /* margin-right: 10% */
}

.wiki-head {
  text-align: center;
  /* https://zellwk.com/blog/viewport-based-typography/ 
     Used an equation from that website because, for example, calc(1px + 0.2vw) wouldn't work on Chrome for responsive text re-sizing.*/
     font-size: calc(120% + 0.2vw);
}

.wiki {
  padding-right: 5%;
  font-family: 'Acme', sans-serif;
  /* https://zellwk.com/blog/viewport-based-typography*/ 
  font-size: calc(120% + 0.2vw);
}

.border {
    padding:1px;
    border:1px solid #021a40;
    background-color:#FF0000;
 }

 #download {
   color: #ffffff;
   font-size: 24px;
   text-decoration: underline;
 }

#column-head {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.content {
  margin-top: 100px;
}

#gif-input {
  outline: none;
  border:1px solid #FF0000;
  box-shadow: 0 0 10px #FF0000;
  margin-left: 10px;
}

#gif-images,
#wikipedia-text {
  margin-top: 110px;
}

.animal {
  text-align: center;
  margin-bottom: 5%;
}

.animal-btn {
  background-color: orange;
  color: black;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  font-family: 'Righteous', cursive;
}


.link-text {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  color: #9EDEFF;
  text-decoration: underline;
}

#title-text {
  font-family: 'Righteous', cursive;
  font-size: 16px;
}

#add-gif,
#clear,
#more-gifs {
  font-family: 'Play', sans-serif;
}

#gif-view {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#input-head {
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

#rating-text {
  font-family: 'Acme', sans-serif;
  font-size: 18px;
}


form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  width: 60%;
  max-width: 85%;

}
    @media screen and (max-width: 1200px) {
      .wiki {
        padding-right: 5%;
      }
    }
    
    @media screen and (max-width: 980px) {
      #wiki-container {
        margin-right: 50%;
      }
    }
    
    @media screen and (max-width: 768px) {
      #wiki-container {
        margin-left: 58%;
      }
      #gif-images,
      #wikipedia-text {
        margin-top: 125px;
      }      

    }
    
    @media screen and (max-width: 497px) {
      #gif-images,
      #wikipedia-text {
        margin-top: 140px;
      }      
    }

    @media screen and (max-width: 360px) {
      #gif-images,
      #wikipedia-text {
        margin-top: 160px;
      }      
    }
